# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DBNAME"

# NextAuth
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"

# AWS S3
AWS_PROFILE="your-aws-profile"
AWS_REGION="us-east-1"
AWS_BUCKET_NAME="your-bucket-name"
AWS_FOLDER_PREFIX="your-folder-prefix"
